# Игнорировать скомпилированные файлы
*.exe
*.o
*.out

# Игнорировать временные файлы
*~

# Игнорировать системные файлы
.DS_Store

# Игнорировать сам .gitignore (по заданию)
.gitignore

# Игнорировать файлы с лицензией (по заданию)
LIC*.*
